.competences {
  width: 100%;
  background-color: white;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  color: black;
  position: relative;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}

.competences-details {
  margin-top: 20px;
  width: 100%
}

.competences:hover {
  cursor: pointer;
  opacity: 0.9;
  i {
    font-size: 30px;
    color: white;
    background-color: #00262b;
    transition: opacity 0.9s ease;
  }
}


