.contact {
  width: 100%;
  background-color: white;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  color: black;
  position: relative;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(25,59,63,.1);
}

.contact-over {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: white;
  opacity: 0;
  transition: opacity 0.4s ease;
  p {
  color: black;
  }
}

.contact:hover .contact-over {
  opacity: 1;
  text-align: justify;
  text-justify: inter-word;
}

.contact:hover {
  cursor: pointer;
  opacity: 0.9;
  i {
    font-size: 30px;
    color: white;
    background-color: #00262b;
    transition: opacity 0.4s ease;
  }
}
