.work {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 5px;
  width: 60%;
  height: 85vh;
  background-color: #f5f5f1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}

.work1:hover {
  cursor: pointer;
}

@media screen and (max-width: 841px) {
  .work {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  }
}

@media screen and (min-width: 200px) and (max-width: 841px) {
  .work {
  width: 80%;
  margin: auto;
  }
}


.work1 {
  width: 100%;
  background-color: white;
  height: 100vh;
  color: black;
  position: relative;
  border-bottom: 10px solid #00262b;
  h2 {
    background-color: #00262b;
    padding-top: 20px;
    color: white;
    padding-bottom: 20px;
    margin-top: 0px;
  }
  h4 {
    margin-bottom: 20px;
  }
}

.mission {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.mission-logo {
  display: flex;
  align-items: center;
  width: 10%;
  font-size: 40px;
  justify-content: center;
  padding-top: 40px;
  margin-right: 20px;
}

.mission-details {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.text-mission {
  width: 90%;
  text-align: justify;
  text-justify: inter-word;
  h4 {
    text-align: right;
  }
}

@media screen and (max-width: 1324px) {
  .mission {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
  }
}

@media screen and (max-width: 1198px) {
  .text-mission p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1080px) {
  .text-mission p {
    font-size: 13px;
  }
}

@media screen and (max-width: 836px) {
  .mission i {
  font-size: 20px;
  }
}

@media screen and (max-width: 841px) {
  .text-mission p {
    font-size: 16px;
  }
}

@media screen and (max-width: 601px) {
  .text-mission p {
    font-size: 14px;
  }
}

@media screen and (max-width: 520px) {
  .text-mission p {
    font-size: 11px;
  }
}

@media screen and (max-width: 520px) {
  .text-mission h4 {
    font-size: 15px;
  }
}
