.yo {
  width: 100%;
  background-color: white;
  height: 33vh;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  border-bottom: 20px solid #00262b;
  position: relative;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  flex-flow: row;
  justify-content: center;
}

.social {
  position: absolute;
  width: 30%;
  color: #00262b;
  bottom: 0px;
  right: 3px;
  font-size: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  cursor: pointer;
}


