
<div class="homepage">

  <div class="ghislain">
  </div>

  <div class="description">
    <div class="name">
    <h1 class="text-center" style="font-weight: bolder;">MON PARCOURS <i class="fa fa-graduation-cap" aria-hidden="true"></i></h1>
      <div class="name-over">
      <p>Diplômé de l’École Supérieure de Commerce de Rennes (ESC Rennes), j'ai suivi la formation de développement web au sein du "Wagon". Créatif et passionné, je suis disponible pour vous accompagner dans la réalisation de votre projet 2.0 ! Constamment à l'écoute des nouvelles tendances en front, j'ai développé des compétences solides en HTML5, CSS3, JAVASCRIPT, Intégration web etc. Je suis curieux et à l'écoute et les challenges ne me font pas peur ! Également musicien, j'aime les sites "pop" aux allures modernes</p>
      </div>
    </div>
    <div class="competencies">
      <div class="competencies-over">
        <div class="competencies-details">
          <div class="text-center competencies-details-logo">
            <p>HTML 5</p>
            <%= image_tag("css.png", :class => "avatar") %>
          </div>
          <div class="text-center">
            <p>JAVASCRIPT</p>
            <%= image_tag("js.png", :class => "avatar") %>
          </div>
          <div class="text-center">
            <p>CSS 3</p>
            <%= image_tag("html.png", :class => "avatar") %>
          </div>
        </div>
      </div>
    <h1 class="text-center title-style">MES COMPÉTENCES</h1>
    </div>
    <div class="contact">
      <h1 class="text-center title-style">CONTACT</h1>
    </div>
  </div>


  <div class="work">
    <div class="work1">
      <h1 class="text-center title-style">CE QUE NOUS POUVONS FAIRE ENSEMBLE</h1>
    </div>
  </div>

</div>
