
<% @title="Ghislain Chavanne" %>
  <div class="ghislain">
    <h1 class="text-center" style="opacity: 0.9;">DÉVELOPPEUR FRONT-END</h1>
    <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
    <div class="name">
      <div class="content">
        <div class="visible">
         <ul class="text-center" style="font-size: 16px;">
           <li>CRÉATIF</li>
           <li>EFFICACE</li>
           <li>SOIGNÉ</li>
           <li>CRÉATIF</li>
         </ul>
        </div>
      </div>
    </div>
  </div>

<div class="homepage">
  <div class="description">
    <div class="yo">
      <div>
        <%= image_tag("zguy.png", :class => "avatar") %>
      </div>
      <div>
        <h4>GHISLAIN CHAVANNE</h4>
      </div>
      <div class="social">
      <a href="https://fr.linkedin.com/in/ghislain-chavanne-5b649955" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true" style="color: black;"></i>
      </a>
      <a href="https://github.com/GhislainChavanne" target="_blank">
        <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
      </a>
      <a href="mailto:gh.chavanne@gmail.com?subject=Front-End development !" target="_blank">
        <i class="fa fa-envelope-open" aria-hidden="true" style="color: black;"></i>
      </a>
      </div>
    </div>
    <a href="#" data-toggle="modal" data-target=".modal-parcours" style="text-decoration: none;">
      <div class="parcours">
        <i class="fa fa-graduation-cap i-top" aria-hidden="true"></i>
        <h4 class="text-center">MON PARCOURS</h4>
      </div>
    </a>
    <a href="#" data-toggle="modal" data-target=".modal-competences" style="text-decoration: none;">
      <div class="competences">
        <i class="fa fa-keyboard-o i-top" aria-hidden="true"></i>
        <h4 class="text-center">MES COMPÉTENCES WEB</h4>
      </div>
    </a>
    <div class="contact">
    <i class="fa fa-envelope-open i-top" aria-hidden="true"></i>
      <h4 class="text-center title-style">ME CONTACTER</h4>
      <div class="contact-over">
        <p>MAIL : gh.chavanne@gmail.com</p>
        <p>TEL : +33.6.50.80.58.98</p>
        <p>VILLE : PARIS</p>
      </div>
    </div>
  </div>


  <div class="work">
    <div class="work1">
        <h2 class="text-center">CE QUE NOUS POUVONS RÉALISER ENSEMBLE</h2>
        <div class="mission">
          <div class="mission-details">
            <div class="mission-logo text-center">
              <i class="fa fa-file-code-o" aria-hidden="true"></i>
            </div>
            <div class="text-mission">
              <h4>DÉVELOPPEMENT DE VOTRE SITE WEB</h4>
              <div style="border-left: 3px solid #0077C0; padding-left: 10px;">
              <p>Créer son site web est devenu une priorité pour améliorer sa visibilité! Que votre site soit statique ou dynamique, je m'engage à le développer en m'inspirant de votre univers tout en répondant aux standards web du W3C. </p>
              </div>
            </div>
          </div>
          <div class="mission-details">
            <div class="mission-logo">
              <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </div>
            <div class="text-mission">
              <h4>AUDIT</h4>
              <div style="border-left: 3px solid #0077C0; padding-left: 10px;">
              <p>Je vous aide dans la conception et l’élaboration de votre projet web depuis l’idée initiale jusqu’aux choix techniques. Je réalise également des audits qualitatifs (accessibilité, maintenabilité) sur vos sites existants.</p>
              </div>
            </div>
          </div>
          <div class="mission-details">
            <div class="mission-logo">
              <i class="fa fa-cog"></i>
            </div>
            <div class="text-mission">
              <h4>SUIVI DE PRODUCTION</h4>
              <div style="border-left: 3px solid #0077C0; padding-left: 10px;">
              <p>J’assure la gestion des contenus de votre site (webmastering), la relation avec vos internautes (réseaux sociaux, newsletters) ainsi que la maintenance technique de votre site.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>



<div class="modal fade modal-parcours" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-details">
    <i class="fa fa-hand-spock-o" aria-hidden="true"></i><i class="fa fa-hand-spock-o" aria-hidden="true"></i>
      <h3 class="text-center">MON PARCOURS</h3>
      <div class="content-modal">
      <p>Diplômé de l’École Supérieure de Commerce de Rennes (ESC Rennes), j'ai suivi la formation de développement web au sein du "Wagon". Créatif et passionné, je suis disponible pour vous accompagner dans la réalisation de votre projet 2.0 ! </p>
      <a href="mailto:gh.chavanne@gmail.com?subject=Front-End development !" target="_blank">
        <div class="mail">
          <h4 style="font-weight: bolder; font-style: italic; color: #00262b; cursor: pointer;">Me contacter</h4>
        </div>
      </a>
      <div class="competences-details text-center">
      <%= image_tag("wagon.png", :class => "avatar-car text-center") %>
      <%= image_tag("esc.00_jpg_srz", :class => "avatar-car text-center") %>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-competences" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-details">
    <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
      <h3 class="text-center">MES COMPÉTENCES WEB</h3>
      <div class="content-modal">
        <p>Constamment à l'écoute des nouvelles tendances en front, j'ai développé des compétences solides en HTML5, CSS3, JAVASCRIPT, Intégration web etc. Je suis curieux et à l'écoute et les challenges ne me font pas peur !</p>
        <a href="mailto:gh.chavanne@gmail.com?subject=Front-End development !" target="_blank">
          <div class="mail">
            <h4 style="font-weight: bolder; font-style: italic; color: #00262b; cursor: pointer;">Me contacter</h4>
          </div>
        </a>
        <div class="competences-details text-center">
          <%= image_tag("hjc.png", :class => "avatar-large text-center") %>
        </div>
      </div>
    </div>
  </div>
</div>

