.modal-details {
  margin-top: 115px;
  border-radius: 4px;
  h3 {
    background-color: #2EA1D9;
    padding-top: 20px;
    color: white;
    padding-bottom: 20px;
    margin-top: 0px;
  }
}

.content-modal {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}
