h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
}

h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #00262b;
}

h3 {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #00262b;
}

h4 {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #00262b;
  font-weight: bolder;
}


@media screen and (max-width: 836px) {
  h2 {
    font-size: 20px;
  }
}
