h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  color: #00262b;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  color: white;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  color: #00262b
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

@media screen and (max-width: 836px) {
  h2 {
    font-size: 20px;
  }
}
